<h1>Interpolation</h1>
<p>{{nome}} : {{idade}}</p>
<p>{{nome}} tem mais de 29 anos? ({{idade > 29}})</p>
<p>Quanto é {{idade}} + {{um}}? ({{idade + um}})</p>
<hr>

<h1>Property Binding</h1>
<button disabled="true">Button Disabled Normal</button>
<br>
<button [disabled]="btnDisabled">Button Disabled Property Binding</button>
<br>
<img [src]="imgSrc">
<hr>

<h1>Event Binding</h1>
<button (click)="alertaInfo()">Click simples</button>
<br>
<button (click)="alertaInfoParameter('PARAMETRO OK')">Click com Parametro</button>
<br>
<button (click)="alertaInfoParameterEvento($event)">Click com Parametro Evento</button>
<br>
<div (mousemove)="mouseMoveEvent($event)" style="background: red; width: 300px; height: 300px;">
{{position.x}}
{{position.y}}
</div>

